@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 178 100% 34%;
    --primary-strong: 165 35% 17%;
    --background: 0 0% 100%;
    --background-alternative: 180 9% 98%;
    --background-natural: 220 14% 94%;
    --foreground: 0 1% 6%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary-foreground: 0 0% 98%;
    --primary-alternative: 172 46% 84%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 2 100% 50%;
    --destructive-foreground: 0 0% 98%;
    /* --border: 0 0% 89.8%; */
    --border: 217 10% 93%;
    --input: 0 0% 94%;
    --label-alternative: 231 8% 68%;
    --label-assistive: 233 8% 80%;
    --label-normal: 231 6% 29%;
    --label-natural: 229 8% 40%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 10px;
    --black: 0 0% 0%;
    --black-1: 225, 3%, 6%;
    --error: 0 85% 44%;
    --gray-strong: 214 4% 34%;
    --gray-700: 230 8% 40%;
    --gray-40: 0 0% 68%;
    --component-natural: 230 8% 85%;
    --component-alternative: 240 10% 96%;
    --line-normal: 220 10% 94%;
    --line-natural: 220 8% 85%;
    --background-hero: 175 48% 95%;
    --toast-bg: 262 5% 9%;
  }
  .dark {
    --background: 0 0% 100%;
    --foreground: 0 1% 6%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --black: 0 1% 6%;
    --error: 2 100% 50%;
    --line-normal: 220 10% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

p,
span {
  @apply whitespace-pre-line;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.ql-image,
.ql-bold {
  width: 28px !important;
  height: 28px !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.ql-picker-label {
  color: #a7a9b4 !important;
}

.ql-snow {
  padding: 0 !important;
}

.ql-formats {
  margin-right: 0 !important;
  padding: 12px !important;
  border-right: 1px solid #eeeff1 !important;
}

.ql-toolbar {
  border-radius: 4px 4px 0 0 !important;
  border-color: #eeeff1 !important;
}

.ql-editor.ql-blank {
  padding: 12px !important;
  font-family: "Pretendard", sans-serif !important;
  font-size: 16px !important;
  line-height: 150% !important;
  font-weight: 400 !important;
  border: none !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  color: var(--label-assistive) !important;
  content: attr(data-placeholder) !important;
  font-size: 16px !important;
  line-height: 150% !important;
  font-weight: 300 !important;
  letter-spacing: -0.3% !important;
  font-family: "var(--font-pretendard)" !important;
  font-family: "Pretendard", sans-serif !important;
}

.ql-picker-label {
  width: 28px !important;
  height: 28px !important;
  border: none !important;
  padding: 2px !important;
}

.ql-picker-options {
  width: 53px !important;
  margin-top: 13px !important;
  margin-left: -12px !important;
  box-shadow: none !important;
  border-color: #eeeff1 !important;
}

.ql-align {
  height: 28px !important;
}

/* ql-picker-label의 svg 아이콘 stroke 색상 변경 */
.ql-picker-label svg .ql-stroke {
  stroke: #a7a9b4 !important;
}

.ql-picker-item {
  margin: 6px auto !important;
  padding: 2px !important;
  width: 28px !important;
  height: 28px !important;
}

.ql-picker-item svg .ql-stroke {
  stroke: #a7a9b4 !important;
}
.ql-container {
  border-color: #eeeff1 !important;
}

.admin-detail-content .ql-editor {
  padding: 0 !important;
}
